Source: opengl-es-virtual-drv
Section: libs
Priority: extra
Maintainer: Minsu Han <minsu81.han@samsung.com>
Uploaders: Minsu Han <minsu81.han@samsung.com> Changwoo Kim <cw2010.kim@samsung.com>
Build-Depends: debhelper (>= 5), libx11-dev
Standards-Version: 3.7.2
Homepage:

Package: opengl-es-virtual-drv
Section: libs
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: opengl-es-sgx540-dev, opengl-es-mali400mp-dev,
 opengl-es-marvell-dev, opengl-es-omap4430-sgx540-dev,
 opengl-es-sgx540, opengl-es-mali400mp,
 opengl-es-marvell, opengl-es-omap4430-sgx540, libump,
Provides: opengl-es-drv
Replaces: opengl-es-sgx540-dev, opengl-es-mali400mp-dev,
 opengl-es-marvell-dev, opengl-es-omap4430-sgx540-dev,
 opengl-es-sgx540, opengl-es-mali400mp,
 opengl-es-marvell, opengl-es-omap4430-sgx540, libump,
Description: The Virtual OpenGL ES library
 The OpenGL ES library provides OpenGL ES 1.1 and OpenGL ES 2.0.
 .
 This package contains the dummy shared libraries.

Package: opengl-es-virtual-drv-dev
Section: libdevel
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, opengl-es-virtual-drv (= ${Source-Version})
Conflicts: opengl-es-sgx540-dev, opengl-es-mali400mp-dev,
 opengl-es-marvell-dev, opengl-es-omap4430-sgx540-dev, libump-dev,
Provides: opengl-es-drv-dev
Replaces: opengl-es-sgx540-dev, opengl-es-mali400mp-dev,
 opengl-es-marvell-dev, opengl-es-omap4430-sgx540-dev, libump-dev,
Description: Development files for the OpenGL ES library
 The OpenGL ES library provides OpenGL ES 1.1 and OpenGL ES 2.0.
 .
 This package contains the the development libraries, header files
 needed by programs that want to compile with OpenGL ES.

Package: opengl-es-virtual-drv-dbg
Section: debug
Architecture: armel
Depends: ${shlibs:Depends}, ${misc:Depends}, opengl-es-virtual-drv (= ${Source-Version})
Description: The Virtual OpenGL ES library (unstripped)
 The OpenGL ES library provides OpenGL ES 1.1 and OpenGL ES 2.0.
 .
 This package contains the dummy shared libraries.
